.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #50505027;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 1px 2px 4px #29292927;
  border-radius: 5px;
  padding: 20px;
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  .btn {
    margin-left: 10px;
  }
}